{{ ansible_managed | comment }}

Port 22
LoginGraceTime 1m
PermitRootLogin prohibit-password
MaxAuthTries 3
AllowUsers {{ openssh_allow_users | join(' ') }} 
PubkeyAuthentication yes
PasswordAuthentication no
UsePAM no
X11Forwarding no
AcceptEnv {{ openssh_accept_env | join (' ') }}
Subsystem sftp /usr/lib/openssh/sftp-server
HostKey {{ openssh_host_key | join (',') }}

{% if ansible_os_family == 'RedHat' and openssh_enable_sftp == true | bool %}
Subsystem sftp /usr/libexec/openssh/sftp-server
{% endif %}

{% if ansible_os_family == 'Debian' and openssh_enable_sftp == true | bool %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}
